---
import "98.css";
import keyboard from "../assets/keyboard.png";
import calendar from "../assets/calendar.png";
import email from "../assets/email.png";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      :root {
        --colors-purple: #4a306d;
        --colors-lavender: #ebdefe;
        --colors-yellow: #ffeb9a;
        --colors-red: #9e3167;
        --colors-pink: #ffcfe5;
        --colors-blue: #215785;
        --colors-cyan: #d4e5f6;
        --colors-violet: #7832d3;
      }
      @font-face {
        font-family: "KodeMono";
        src: url("/fonts/kode-mono-variable.woff2") format("woff2");
      }

      body {
        margin: 2rem;
        box-sizing: border-box;
        background-color: var(--colors-cyan);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container {
        position: relative;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
      }

      .window {
        background-color: var(--colors-lavender);
        border-radius: 4px;
        overflow: hidden;
      }

      body .title-bar {
        height: 2rem;
        padding: 0 0.5rem;
        border-bottom: 2px solid #ffffff;
        background: linear-gradient(
          90deg,
          var(--colors-purple),
          var(--colors-violet)
        );
      }

      .title-bar-text {
        font-weight: bold;
        color: white;
      }

      .window-body {
        background-color: var(--colors-lavender);
        font-size: 16px;
        padding: 1rem;
        overflow: auto;
      }

      .body-left,
      .body-right,
      .body-tabs {
        border-left: 2px solid #404040;
        border-top: 2px solid #404040;
        border-right: 2px solid #f4f4f4;
        border-bottom: 2px solid #f4f4f4;
      }

      .body-tabs {
        border-left: 2px solid #270c34;
        border-top: 2px solid #270c34;
        border-right: 2px solid #e1e1e1;
        border-bottom: 2px solid #e1e1e1;
      }

      .body-left,
      .body-tabs {
        background-color: #ffffff;
      }

      .left-section {
        width: 50%;
        flex: 0.75;
        height: 60%;
        display: flex;
        flex-direction: column;
      }

      .icon-container {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 1rem;
      }
      .icon-container > a {
        text-decoration: none;
      }
      .icons {
        width: 40px;
        height: 40px;
        padding: 0.4rem;
      }

      .img-contain {
        justify-content: center;
        display: flex;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 2rem;
      }

      .image-logo {
        width: 40%;
        height: 100%;
        object-fit: contain;
        padding: 3rem;
      }

      .one {
        margin-bottom: 1rem;
      }

      .two {
        flex: 1.5;
        width: 50%;
        height: clamp(500px, 80dvh, 70rem);
        display: flex;
        flex-direction: column;
      }

      .three {
        width: 100%;
        background-color: #262626;
      }

      .three > .window-body {
        background-color: #000000;
        border-left: 2px solid #404040;
        border-top: 2px solid #404040;
        border-right: 2px solid #f4f4f4;
        border-bottom: 2px solid #f4f4f4;
        height: 20rem;
      }

      body .three .title-bar {
        background: #333333;
      }

      .body-tabs {
        background-color:;
      }

      .input {
        display: inline-block;
        width: 10px;
        animation: blink 1s step-start infinite;
        font-weight: 600;
      }

      @keyframes blink {
        50% {
          opacity: 0;
        }
      }

      menu {
        display: flex;
        list-style: none;
        padding: 0;
      }

      .links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .organizers {
        width: 100%;
        display: flex;
        justify-content: start;
      }

      .icon-text {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        color: black;
      }

      .organizers > div {
        padding: 0 0.5rem;
      }

      p {
        font-family: "KodeMono";
        font-weight: 400;
      }

      button {
        background: white;
      }

      .name {
        margin: 1rem 0;
        font-family: KodeMono;
        color: var(--colors-violet);
      }

      @media screen and (max-width: 1375px) {
        .container {
          flex-direction: column;
          align-content: center;
        }

        .left-section {
          width: 80%;
        }

        .two {
          width: 80%;
        }

        pre {
          font-size: medium;
        }
      }
      @media screen and (max-width: 750px) {
        .left-section {
          width: 95%;
        }

        .two {
          width: 95%;
        }
        pre {
          font-size: small;
        }
      }
      @media screen and (max-width: 709px) {
        pre {
          font-size: small;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="left-section">
        <div class="icon-container">
          <a href="https://discord.gg/apqk9DHcyw" target="_blank">
            <Image src={keyboard} alt="keyboard icon" class="icons" />
            <p class="icon-text">Discord</p>
          </a>
          <a href="https://meetup.com/phl-code-club/" target="_blank">
            <Image src={calendar} alt="calendar icon" class="icons" />
            <p class="icon-text">Meetup</p>
          </a>
          <a href="mailto://info@phlcode.club" target="_blank">
            <Image src={email} alt="email icon" class="icons" />
            <p class="icon-text">Email</p>
          </a>
        </div>
        <div class="window one">
          <div class="title-bar" id="bar-color">
            <div class="title-bar-text">retro_computer.svg</div>
            <div class="title-bar-controls">
              <button aria-label="Minimize"></button>
              <button aria-label="Maximize"></button>
              <button aria-label="Close"></button>
            </div>
          </div>
          <div class="window-body body-left">
            <div class="img-contain">
              <img
                class="image"
                alt="phl code club logo"
                src="/phl-badge-color.svg"
              />
            </div>
          </div>
        </div>

        <div class="window three">
          <div class="title-bar" id="bar-color">
            <div class="title-bar-text">terminal</div>
            <div class="title-bar-controls">
              <button aria-label="Minimize"></button>
              <button aria-label="Maximize"></button>
              <button aria-label="Close"></button>
            </div>
          </div>
          <div class="window-body body-left">
            <div class="img-contain">
              <pre
                style="background-color: #000; color: #fff; box-shadow: none;   white-space: pre; padding: 1srem;">
  _____       _            ___    _____           _         _
 |     |___ _| |___    ___|  _|  |     |___ ___ _| |_ _ ___| |_
 |   --| . | . | -_|  | . |  _|  |   --| . |   | . | | |  _|  _|
 |_____|___|___|___|  |___|_|    |_____|___|_|_|___|___|___|_|

 user@phlcode.club:~$> be kind
 user@phlcode.club:~$> dont be not kind
 user@phlcode.club:~$> <span class="input">|</span>
              </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="window two">
        <div class="title-bar" id="bar-color">
          <div class="title-bar-text">note pad</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body contain body-right body-tabs">
          <h2 style="margin: 1rem 0;">About</h2>
          <p>
            <b>PHL Code Club</b> aims to break the mold of the normal "Someone comes
            and gives a talk" kind of meetups. Not that those aren't great (They
            are, Graham loves talking) - We want to create a more interactive space
            with a focus on coding challenges, project showcases, and hands on workshops.
          </p>
          <h2 style="margin: 1rem 0;">Organizers</h2>
          <h4 class="name">
            Christina <span aria-hidden="true">ʕ•ᴥ•ʔ</span>
          </h4>
          <p>
            Chris' first experience with coding came from breaking Tumblr themes
            until she was creating custom layouts. Fast-forward, working in IT
            and troubleshooting computer issues, her love for problem-solving
            grew. Now, she combines creativity and technical skills to build
            beautiful & functional UIs. She hopes to create an inclusive space
            to share her passion for coding.
          </p>
          <h4 class="name">
            Graham <span aria-hidden="true">ʕ⌐■ᴥ■ʔ</span>
          </h4>
          <p>
            Graham is an all around computer nerd. What started out as a love of
            video games, moved into learning how to build computers and getting
            interested in how they work, to learning to code. Now a software
            engineer, he aims to share his love of computing, especially the
            terminal, and continue learning from everyone he meets.
          </p>
          <h2 style="margin: 1rem 0;">Why Join</h2>
          <p>
            Our goal is to encourage people to attend no matter their
            background. We aim to teach and engage with our members so everyone
            comes out learning something. If that sounds like something you are
            interested in, please join our Discord and Meetup group.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
