---
import "98.css";
---

<!doctype html>
<html lang="en">
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
      }
      .title-bar {
        height: 2rem;
      }
      .title-bar-text {
        padding-left: 0.5rem;
      }
      .window {
        height: calc(100% - 6px);
      }
    </style>
  </head>
  <body>
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">PHL CODE CLUB</div>
      </div>
      <div class="window-body"></div>
    </div>
  </body>
</html>
