---
import "98.css";
import Desktop from "../layouts/desktop.astro";
import terminal from "../assets/terminal.txt?raw";
import { Image } from "astro:assets";
import phlsticker from "../assets/phl-square-sticker.png";
---

<Desktop title="PHL Code Club">
  <div class="container">
    <div class="left-section">
      <div class="window three">
        <div class="title-bar" id="bar-color">
          <div class="title-bar-text">terminal</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <a href="/">
              <button aria-label="Close"></button>
            </a>
          </div>
        </div>
        <div class="window-body body-left">
          <div class="img-contain">
            <pre
              style="background-color: #000; color: #fff; box-shadow: none; white-space: pre; font-size: .95em;"
              set:html={terminal}
            />
          </div>
        </div>
      </div>
    </div>

    <div class="window two">
      <div class="title-bar" id="bar-color">
        <div class="title-bar-text">note pad</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body contain body-right body-tabs">
        <h2 style="margin: 1rem 0 0;">About</h2>
        <div style="display: flex; align-items: center">
          <p>
            <b>PHL Code Club</b> aims to break the mold of the normal "Someone comes
            and gives a talk" kind of meetups. Not that those aren't great (They
            are, Graham loves talking) - We want to create a more interactive space
            with a focus on coding challenges, project showcases, and hands on workshops.
          </p>
          <Image class="image logo" src={phlsticker} alt="logo" />
        </div>
        <h2 style="margin: 1rem 0;">Join Us</h2>
        <p>
          Our goal is to encourage people to attend no matter their background.
          We aim to teach and engage with our members so everyone comes out
          learning something. If that sounds like something you are interested
          in, please join our Discord and Meetup group.
        </p>
        <iframe
          src="https://luma.com/embed/calendar/cal-ognDKwStICAW6bF/events"
          width="100%"
          height="300"
          frameborder="0"
          style="border: 1px solid #bfcbda88; border-radius: 4px;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"></iframe>
        <h3 style="margin: 1rem 0;">Drop us a line</h3>
        <p>
          <a
            class="contact-link"
            href="https://phlcodeclub.notion.site/2813d7f6cb698000934dfce5d82f6528?pvs=105"
            target="_blank"
          >
            Contact us with any questions, feedback, or just say hi!
          </a>
          <br /><br />
          <a
            class="contact-link"
            href="https://phlcodeclub.notion.site/2813d7f6cb69804d9904d5c2b9dff3ec?pvs=105"
            target="_blank"
          >
            If you have ideas for workshops or talks, let us know!
          </a>
        </p>
      </div>
    </div>
  </div>
</Desktop>
